<form id="submitReviewForm" onsubmit="onSubmit('/restaurant/<%=restaurant[0]._id%>/addReview')">

    <!--<div class="form-group">-->
        <!--<label for="posterName">Posting as:</label>-->
        <!--<input type="text" readonly class="form-control-plaintext" id="posterName" name="posterName" value="<%=user.name%>">-->
        <!--<input type="text" readonly class="form-control-plaintext" id="posterID" name="posterID" value="<%=user._id%>">-->
    <!--</div>-->

    <div class="form-group">
        <div>Select A Score</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userScore" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userScore" id="inlineRadio2" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userScore" id="inlineRadio3" value="3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userScore" id="inlineRadio4" value="4">
            <label class="form-check-label" for="inlineRadio3">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userScore" id="inlineRadio5" value="5">
            <label class="form-check-label" for="inlineRadio3">5</label>
        </div>
    </div>

    <div class="form-group">
        <!--<label for="reviewTitle">Add A Review</label>-->
        <input type="text" class="form-control" id="reviewTitle" name="reviewTitle"  placeholder="Title">    </div>

    <div class="form-group">
        <!--<label for="exampleFormControlTextarea1">Add A Review</label>-->
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="reviewBody" placeholder="Your review"></textarea>
    </div>

    <div class="form-group">
        <div>Add Pictures</div>
        <div class="custom-file ">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <p><input type="file" class="form-control" name="filetoupload" multiple="multiple" id="filetoupload"></p>


        <button type="submit" class="btn btn-primary" id="submitReview">Submit</button>
</form>

<div id="whatsHappening"></div>