<p class="h5">
    Refine Search
</p>
<div class="separator-red"></div>

<form id=“radiusForm" onsubmit="onSubmitRadius('/index')">
    <p>
        <label for='searchRadius'>Search Radius:</label>

        <select class="custom-select" name="searchRadius" id="searchRadius" >
            <option selected value="5">5km</option>
            <option value="10">10km</option>
            <option value="20">20km</option>
            <option value="50">50km</option>
            <option value="100">100km</option>
            <option value="200">200km</option>
        </select>
    </p>

    <!-- keep this fields as hidden later on -->
    <input type="hidden" name="longitude" id="longitude" placeholder="long">
    <input type="hidden" name="latitude" id="latitude" placeholder="lat">

    <p>
        <% var foodTypes = ["Fast Food", "Burger", "British", "Chicken", "Chinese", "Curry", "Desserts", "Grill", "Healthy", "Indian", "Italian", "Japanese", "Kebab", "Mexican", "Pasta", "Pizza", "Vegan", "Vegetarian"] %>


        <label for="exampleFormControlSelect1">Type Of Cuisine</label>
        <select class="form-control" id="exampleFormControlSelect1" name="cuisineType">
            <option>All</option>
        <% for (i in foodTypes) { %>
            <div class="form-check form-check-inline">
                <option><%= foodTypes[i] %></option>
            </div>
        <% }%>
        </select>
    </p>


    <input type="submit" name="g" value="Update" id="g" class="btn btn-primary">


</form>

<div class="separator-red top-1-rem"></div>
