<footer class="container">
    <div class="row">
        <div class="col-12">
            <div class="separator-red top-1-rem"></div>

            <p><img src="/logoRed.png"> Restaurant Finder - Your path to good food</p>
        </div>
    </div>

</footer>