<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
    <% include partials/navbar %>
    <script src="/javascripts/fileupload.js"></script>
</head>

<main role="main">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <!--form for file upload, choose one file for official photo-->
            <!--post handled in restaurant controller-->
            <form id="form1" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <p><input type="file" class="form-control" name="filetoupload" id="filetoupload"></p>
                    <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
                </div>
            </form>

        </div>
    </div>

</main>

<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/vendor/popper.min.js"></script>-->
<!--<script src="/dist/js/bootstrap.min.js"></script>-->
</body>
</html>