<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
  <!-- Google Maps JS API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8UgLksCoAWs5n4eG4UsAEpMJsWc3kg_U"></script>
  <script src="/javascripts/gmaps.js"></script>
  <script src="/javascripts/index.js"></script>
</head>

<body>
<% include partials/navbar %>

<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <form id=“xForm" onsubmit="onSubmitRadius('/index')">
      <div class="form-group">
        <label for='firstname'>Restaurant Name:</label>
        <input class="form-control" type="text" name="name" id="name" >
        <p><label for='lastname'>Cuisine:</label>
          <input class="form-control" type="text" name="cuisine" id="cuisine" >
        </p>
        <p><label for='lastname'>Postcode:</label>
          <input class="form-control"type="text" name="postcode" id="postcode" >
        </p>
        <p><label for='lastname'>Street:</label>
          <input class="form-control" type="text" name="street" id="street" >
        </p>
        <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
      </div>
    </form>
  </div>
  <div class="container">

    <form id=“radiusForm" onsubmit="onSubmitRadius('/radius')">
      <p><label for='searchRadius'>Or search for restaurants around you in a radius of</label>

        <select class="custom-select" name="searchRadius" id="searchRadius" >
          <option selected value="5">5km</option>
          <option value="10">10km</option>
          <option value="20">20km</option>
          <option value="50">50km</option>
        </select>
      </p>
      <!-- keep this fields as hidden later on -->
      <input type="hidden" name="longitude" id="longitude" placeholder="long">
      <input type="hidden" name="latitude" id="latitude" placeholder="lat">


      <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>
  </div>
</div>
<div id="results" style="margin-top:30px"></div>
<div id="map"></div>

<!--<div class="container">-->
<!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--<div class="row">-->


<!--<div class="col-md-6">-->
<!--<div class="card">-->
  <!--<div class="card-body">-->
    <!--<h6>RestaurantName</h6>-->
    <!--<p class="card-text">★★★★☆ 4/5</p>-->
    <!--<a href="restaurant" class="card-link">ViewRestaurant</a>-->
    <!--<br>-->
  <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->
</main>

<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/vendor/popper.min.js"></script>-->
<!--<script src="/dist/js/bootstrap.min.js"></script>-->
<!--</body>-->
</html>
