<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
    <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8UgLksCoAWs5n4eG4UsAEpMJsWc3kg_U"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script src="/javascripts/gmaps.js"></script>
    <script src="/javascripts/index.js"></script>

</head>

<body onload="initRestaurant()">
<% include partials/navbar %>

<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <form onsubmit="onSubmitRadius('/index')">
            <div class="row">
                <div class="col-12">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-searchbox active">
                            <input type="radio" name="typeOfSearch" id="option1" value="address" checked> Address
                        </label>
                        <label class="btn btn-searchbox">
                            <input type="radio" name="typeOfSearch" id="option2" value="restaurantName"> Name
                        </label>
                    </div>
                </div>
            </div>
            <div id="xForm">
                <div class="row">
                    <div class="col-8 no-pad-right">
                        <input class="form-control" type="text" name="city" id="city" placeholder="Enter a city">
                    </div>

                    <div class="col-4 no-pad-left">
                        <input id="searchButton" class="btn btn-white btn-block" type="submit" name="g" value="Search" id="g">
                    </div>
                </div>
                </div>
        </form>

        <div class="row">
            <div class="col-12">
                ... or<button type="button" class="btn btn-link" onClick="onSubmitRadius('/radius')">just show me things nearby</button>
            </div>

        </div>
    </div>
</div>


    <div class="container" style="margin-top:30px">
        <div class="row">

            <div class="col-sm-4">
                <% include partials/index_sidebar %>

            </div>

            <div class="col-sm-8">
                <p class="h5">Search Results:</p>
                <div class="separator-red"></div>

                <div id="results" class="row">


                </div>
                <div id="map"></div>

                <p class="h5 top-1-rem">Other People Viewed:</p>
                <div class="separator-red"></div>
                <div id="socketRestaurant"></div>
            </div>

    </div>




<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/vendor/popper.min.js"></script>-->
<!--<script src="/dist/js/bootstrap.min.js"></script>-->
</body>
</html>
