<% include header %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <form id=“xForm" onsubmit="onSubmit('/index')">
      <div class="form-group">
        <label for='firstname'>Restaurant Name:</label>
        <input class="form-control" type="text" name="name" id="name" >
        <p><label for='lastname'>Cuisine:</label>
          <input class="form-control" type="text" name="cuisine" id="cuisine" >
        </p>
        <p><label for='lastname'>Postcode:</label>
          <input class="form-control"type="text" name="postcode" id="postcode" >
        </p>
        <p><label for='lastname'>Street:</label>
          <input class="form-control" type="text" name="street" id="street" >
        </p>
        <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
      </div>
    </form>
</div>
</div>

<div id="results" style="margin-top:30px"></div>
<div id="results2" style="margin-top:30px"></div>
<div id="results3" style="margin-top:30px"></div>
<!--<div class="container">-->
  <!--&lt;!&ndash; Example row of columns &ndash;&gt;-->

  <!--<div class="row">-->
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--<div class="col-md-6">-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->
          <!--<h6>RestaurantName</h6>-->
          <!--<p class="card-text">★★★★☆ 4/5</p>-->
          <!--<a href="restaurant" class="card-link">ViewRestaurant</a>-->
          <!--<br>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<hr>-->

<!--</div> &lt;!&ndash; /container &ndash;&gt;-->

<% include footer %>