<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>


    <form id=“xForm" onsubmit="onSubmit('/insert')">
        <label for='firstname'>Name:</label>
        <input type="text" name="radius" id="name" >
        <p><label for='lastname'>Type Of Cuisine:</label>
                <input type="text" name="cuisine" id="cuisine">
        </p>
        <p><label for='year'>Address</label>
                <input type="text" name="address" id="address">
        </p>
        <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>
  <div id="results" style="margin-top:30px"></div>
    <script src="/javascripts/index.js"></script>

  </body>
</html>
