<!doctype html>
<html lang="en">
<head>
    <link href="//localhost:3003/stylesheets/multi-select.css" rel="stylesheet">

    <% include partials/page_head %>
    <% include partials/navbar %>
    <script src="//localhost:3003/javascripts/jquery.multi-select.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#my-select').multiSelect();
        });

    </script>

</head>

<body>

<main role="main">


<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <h5 class="top-1-rem">The Restaurant</h5>
                <div class="separator-red"></div>
                <div class="form-group">
                    <p>
                        <label for='restaurantName'>Restaurant Name:</label>
                        <input class="form-control" type="text" name="restaurantName" id="name" required>
                    </p>
                    <p>
                        <label for='lastname'>Cuisine:</label>
                        <select multiple="multiple" id="my-select" name="cuisine">
                            <option>All</option>
                            <% for (i in foodTypes) { %>
                            <div class="form-check form-check-inline">
                                <option><%= foodTypes[i] %></option>
                            </div>
                            <% }%>
                        </select>
                    </p>

                    <p>
                        <label for="exampleFormControlSelect1">Delivery?</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="hasDelivery">
                            <option selected="selected" value="false">No Delivery</option>
                            <option value="true">Has Delivery</option>
                        </select>
                    </p>
                    <p><label for='telephone'>Telephone:</label>
                        <input class="form-control" type="text" name="telephone" id="telephone" required>
                    </p>
                    <p><label for='website'>Website:</label>
                        <input class="form-control" type="text" name="website" id="website" required>
                    </p>
                    <p><label for='streetName'>Street Name:</label>
                        <input class="form-control" type="text" name="streetName" id="streetName" required>
                    </p>
                    <p><label for='city'>City:</label>
                        <input class="form-control" type="text" name="city" id="city" required>
                    </p>
                    <p><label for='postcode'>Postcode:</label>
                        <input class="form-control" type="text" name="postcode" id="postcode" required>
                    </p>
                    <p><label for='lastname'>County:</label>
                        <input class="form-control" type="text" name="county" id="county" required>
                    </p>
                    <p><label for='lastname'>Country:</label>
                        <input class="form-control"type="text" name="country" id="country" required>
                    </p>
                    <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="results"></div>
</main>

<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/vendor/popper.min.js"></script>-->
<!--<script src="/dist/js/bootstrap.min.js"></script>-->
</body>
</html>
