<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
    <script src="/javascripts/index.js"></script>
</head>

<body>

<main role="main">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form id=“xForm" onsubmit="onSubmit('/insert')">
            <div class="form-group">
                <label for='firstname'>Restaurant Name:</label>
                <input class="form-control" type="text" name="name" id="name" >
                <p><label for='lastname'>Cuisine:</label>
                    <input class="form-control" type="text" name="cuisine" id="cuisine" >
                </p>
                <p><label for='lastname'>Postcode:</label>
                    <input class="form-control"type="text" name="postcode" id="postcode" >
                </p>
                <p><label for='lastname'>Street:</label>
                    <input class="form-control" type="text" name="street" id="street" >
                </p>
                <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
            </div>
        </form>
    </div>
</div>

</main>

<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/vendor/popper.min.js"></script>-->
<!--<script src="/dist/js/bootstrap.min.js"></script>-->
</body>
</html>
