<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
</head>
<% include partials/navbar %>
<body>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
        <form id=“xForm" action='/login', method='post' class="form-login">

            <label for='firstname'>User Name:</label>
            <input class="form-control input-sm chat-input" type="text" name="username" id="name" >
            <p><label for='lastname'>Password:</label>
                <input class="form-control input-sm chat-input" type="password" name="password" id="cuisine" >
            </p>

            </p>
            <p><input class="btn btn-lg btn-primary btn-block" type="submit" name="g" value="Login" id="g"></p>
        </form>
        </div>
    </div>
</div>

</body>