<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
</head>

<body>
<% include partials/navbar %>
<main role="main">

    <div class="container">
        <div class="row">
            <div class="col-12 top-1-rem">
                <a href="/restaurant/<%= restaurant[0]._id %>">< Go back to restaurant page</a>
            </div>
            <div class="col-12">
                <div class="d-flex bd-highlight top-1-rem">
                    <div class="p-2 bd-highlight">
                        <img src="../<%= restaurant[0].officialPhoto %>" style="width: 65px; height: 65px;" alt="Card image cap">
                    </div>
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="h4"><%= restaurant[0].name %></p>

                        <%= restaurant[0].typeOfCuisine.join(", ")%>

                        <% if (restaurant[0].hasDelivery == true) {%>
                        <span class="hasDelivery">
                        <i class="fas fa-motorcycle"></i> Delivery
                    </span>
                        <% }%>
                    </div>
                </div>
                <p class="h5 top-1-rem">Select pictures to upload:</p>
                <div class="separator-red"></div>
                <!--form to upload multiple pictures, post handled in restaurant controller-->
                <form id="form1" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p><input type="file" class="form-control" name="filetoupload" multiple="multiple" id="filetoupload"></p>
                        <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<% include partials/page_foot.ejs %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/vendor/popper.min.js"></script>-->
<!--<script src="/dist/js/bootstrap.min.js"></script>-->
</body>
</html>