<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascripts/radius.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>

    <button onclick="getLocation()">Try It</button>

    <div id="demo1"></div>


    <form id="radiusForm" onsubmit="onSubmit('/radius')">
        <p><label for='searchRadius'>SearchRadius:</label>

        </p>

        <select class="custom-select" name="searchRadius" id="searchRadius" >
            <option selected value="0">Select a distance</option>
            <option value="5">5km</option>
            <option value="10">10km</option>
            <option value="20">20km</option>
            <option value="50">50km</option>
        </select>
        <!-- keep this fields as hidden later on -->
        <input type="text" name="longitude" id="longitude" placeholder="long">
        <input type="text" name="latitude" id="latitude" placeholder="lat">


        <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>
  <div id="results" style="margin-top:30px"></div>

  </body>
</html>
