<!doctype html>
<html lang="en">
<head>
    <% include partials/page_head %>
</head>
<body>
<% include partials/navbar %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <p class="h5 top-1-rem">Sign Up:</p>
            <div class="separator-red"></div>
            <form action='/register' method='post' class="form-login">
                <p>
                    <label for='name'>Name:</label>
                    <input class="form-control input-sm chat-input" type="text" name="name" id="name" >
                </p>
                <p>
                    <label for='username'>User Name:</label>
                    <input class="form-control input-sm chat-input" type="text" name="username" id="username" >
                </p>
                <p>
                    <label for='password'>Password:</label>
                    <input class="form-control input-sm chat-input" type="password" name="password" id="password" >
                </p>

                <p><input class="btn btn-lg btn-primary btn-block" type="submit" name="g" value="Register" id="g"></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>