<form id=“xForm" action='/register', method='post'>
    <div class="form-group">
        <label for='firstname'>Name:</label>
        <input class="form-control" type="text" name="name" id="name" >
        <label for='firstname'>User Name:</label>
        <input class="form-control" type="text" name="username" id="name" >
        <p><label for='lastname'>Password:</label>
            <input class="form-control" type="text" name="password" id="cuisine" >
        </p>

        </p>
        <p><input class="btn btn-primary" type="submit" name="g" value="Submit" id="g"></p>
    </div>
</form>