


  <body onload="results()">
  <ul id="myList">
  </ul>
  <script>
          function results() {
              var resturaunts = <%-JSON.stringify(resturantlist)%>;
              resturaunts.forEach(function(entry) {
                  var node = document.createElement("LI");
                      console.log(entry.name);
                      var textnode = document.createTextNode(JSON.stringify(entry.name));
                      node.appendChild(textnode);
                       textnode = document.createTextNode(JSON.stringify(entry.typeOfCuisine));
                      node.appendChild(textnode);
                       textnode = document.createTextNode(JSON.stringify(entry.address));
                      node.appendChild(textnode);
                      document.getElementById("myList").appendChild(node);
              });
          }
      </script>
  </body>

