<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!--<script src="/javascripts/index.js"></script>-->

</head>


  <body>
  tester
  <div id="results"></div>
  </body>
  <script>
  $(function() {
      console.log(id);
  })
  </script>