#mainmenu {
  background: rgb(188, 1, 13) !important;
}

.separator-red {
  background: rgb(188, 1, 13) !important;
  height: 4px;
  margin-bottom: 1rem;
}

.separator-red-thin {
  background: rgb(188, 1, 13) !important;
  height: 1px;
  margin: 1rem 0;
}

.top-1-rem {
  margin-top: 1rem;
}

.bg-red-brand {
  background: #bc010d;
}

#xForm {
  background: #bc010d;
  padding: 10px;
  border-radius: 5px;
}

.btn-white {
  color: #212529;
  background-color: #ffffff;
  border-color: #900009;
  border-radius: 0 5px 5px 0;

}

.no-pad-right {
  padding-right: 0;
}
.no-pad-left {
  padding-left: 0;
}
#xForm #city {
  border-color: #900009;
  border-radius: 5px 0 0 5px;
}
.hasDelivery {
  padding: 1px 3px;
  display: inline-block;
  border: 1px solid #bc010d;
  border-radius: 3px;
  font-size: .8rem;
}

.resRating {
  margin: 0;
  font-size: .8rem;
  font-weight: bold;
}

.btn-searchbox {
  margin-bottom: 0;
}
.btn-searchbox.active {
background: #bc010d;
color: white;
}
.btn-searchbox input[type=radio] {
   position:fixed;
   opacity:0;
 }
